---

external_interface: "eth0"

internal_interface: "eth1"

admingroup: "admin"

network_ether_interfaces:
  - device: "{{external_interface}}"
    bootproto: "static"
    onboot: "yes"
    address: "{{ext_ip_addr}}"
    netmask: "{{ext_net_mask}}"
    gateway: "{{ext_gateway}}"
    defroute: "yes"
    nm_controlled: "no"
    type: "Ethernet"
    route:
      - network: "{{ext_net_addr}}"
        netmask: "{{ext_net_mask}}"
        gateway: "{{ext_gateway}}"


  - device: "{{internal_interface}}"
    bootproto: "static"
    onboot: "yes"
    address: "{{int_ip_addr}}"
    netmask: "{{int_net_mask}}"
    nm_controlled: "no"
    type: "Ethernet"

nfs_mount_addr: "10.1.1.5"

## DHCP_SERVER

dhcp_interfaces: "{{ internal_interface }}"
dhcp_common_nameservers: "{{ int_ip_addr }}, {{ nameserver2 }}, {{ nameserver3 }}"
dhcp_common_default_lease_time: 10080
dhcp_common_max_lease_time: 20160
dhcp_common_options: []
dhcp_common_parameters:
 - include "/etc/dhcp/dhcpd.d/ipxe.conf"
 - include "/etc/dhcp/dhcpd.d/nodes.conf"
dhcp_subnets:
 - base: "{{ int_net_addr }}"
   netmask: "{{ int_net_mask }}"
   routers: "{{ int_ip_addr }}"
   interface: "{{ internal_interface }}"
   domain_nameservers: "{{ int_ip_addr }}, {{ nameserver2 }}, {{ nameserver3 }}"
   domain_name: "{{ dhcp_common_domain }}"

dhcp_tftp_server_ip: "{{ int_ip_addr }}"

# Kickstart file VM specifics

vcpus: "{{vm_cpus}}"
ram: "{{vm_mem}}"

disks:
  - { pool: "vms", size: 200 }
bridges:
  - br_ext
  - br_int
location: "{{repo_location}}"
kickstart_tempdir: "/tmp"
fqdn: "{{siteName}}-install.{{siteDomain}}"
networks:
  - "network --onboot={{enable_ext_nic}} --device={{external_interface}} --bootproto=static --ip={{ext_ip_addr}} --netmask={{ext_net_mask}} --nameserver={{nameserver2}} --hostname={{ fqdn }} --gateway={{ext_gateway}} --noipv6"


# SSHD
sshd:
 AllowGroups: "root admin" 
 PermitRootLogin: "without-password"

# Do not install host keys on this node
install_ssh_host_keys_from_nfs: False
# Do not copy them to NFS
install_ssh_host_keys_to_nfs: False
# But do install the known_hosts files
install_ssh_known_hosts_from_http: True

# Install extra packages
unconfigured_packages:
 - git
 - nfs-utils
 - bash-completion
 - wget
 - pdsh
 - fgci-meta-install

# For sure do not install infiniband packages on install node
infiniband_available: False

# NIS server settings
nis_server: True
nis_initialize: True
nis_enabled: True

# DNSmasq
dnsmasq_listen_address: "{{ int_ip_addr }}"

## KS profile and server Dir
ksBootSrvDir: "/var/www/html/ks"

# central syslog
central_log_host: "@10.1.1.1"

#Users
adminremove_passwords: True

#Setup NAT
ferm_rules_extra:
 nat:
 - chain: FORWARD
   table: filter
   domains: [ip, ip6]
   rules:
     - {rule: "interface {{ internal_interface }} outerface {{ external_interface }} mod comment comment 'forward from internal net ' ACCEPT;", comment: "forwarding"}
     - {rule: "interface {{ external_interface }} outerface {{ internal_interface }} mod state state (ESTABLISHED RELATED) mod comment comment 'forward established and related from internal net' ACCEPT;", comment: "forwarding"}
 - chain: POSTROUTING
   table: nat
   domains: [ip]
   rules:
     - {rule: "outerface {{ external_interface }} saddr ( {{ internal_net }} ) mod comment comment 'masquerade for internal net' MASQUERADE;", comment: "masquerade"}
