---

siteName: io
intDomain: int
siteDomain: fgci.csc.fi
nodeBase: io-node
nodeGpuBase: io-node-gpu

# Virtual Organization Name - Do not change the following line if your cluster is running in FGCI!!
# If you have changed it, re-set it to the string bellow and reconfigure your grid node ASAP.
voName: "fgi.csc.fi"

# gocDBName should be set for the same name as your site is registered in gocdb.egi.eu
gocDBName: "CSC"

instSiteURL: "http://www.csc.fi"
infoSysAdminDomain: "csc.fi"
resource_location: "Espoo, Finland"
resource_latitude: "60.18"
resource_longitude: "24.83"

ext_gateway: "86.50.166.1"
ext_net_addr: "86.50.166.0"
ext_net_mask: "255.255.255.0"

int_net_addr: "10.1.0.0"
int_net_mask: "255.255.0.0"
int_gateway: "10.1.1.4"
internal_net: "10.1.0.0/16"

ib_net_mask: "255.255.0.0"

dns_resolv_search: "{{ intDomain }}.{{ siteDomain }}"
nameserver1: "10.1.1.2"
nameserver2: "193.166.4.24"
nameserver3: "193.166.4.25"

dhcp_common_domain: "{{ intDomain }}.{{ siteDomain }}"

enable_ext_nic: "yes"
enable_int_nic: "yes"

infiniband_available: True

# NFS mounts

nfs_mount_addr: "10.2.1.5"
nfs_mounts:
 - { fstype: "nfs4", name: "/scratch", src: "{{ nfs_mount_addr }}:/scratch" }
 - { fstype: "nfs4", name: "/home", src: "{{ nfs_mount_addr }}:/home", state: "mounted", opts: "defaults" }

repo_location: "http://www.nic.funet.fi/pub/mirrors/centos.org/7/os/x86_64/"
repos:
  - { name: "EPEL", url: "http://www.nic.funet.fi/pub/mirrors/fedora.redhat.com/pub/epel/7/x86_64", pkgname: "epel-release" }
  - { name: "EL Repo", url: "http://elrepo.org/linux/elrepo/el7/x86_64", pkgname: "elrepo-release" }
  - { name: "CentOS Extras", url: "http://www.nic.funet.fi/pub/mirrors/centos.org/7/extras/x86_64/" }

hyper: "{{siteName}}-admin.{{siteDomain}}"
bastion_host: "{{siteName}}-admin.{{siteDomain}}"
http_proxy: "http://{{ int_gateway }}:3128"
env_virt_install: { http_proxy: "{{ http_proxy }}" }
libvirt_pool_name: "vms"
libvirt_pool_type: "dir"
libvirt_pool_path: "/var/{{ libvirt_pool_name }}"
# The @ for UDP. @@ for TCP
central_log_host: "@{{siteName}}-admin"

# DEVSYS  - to change later
vm_mem: "16000"
vm_cpus: "4"

# No firewalld anywhere
disable_packages:
 - "firewalld"

# Ferm - firewall
# Ordering is important. This rule is a default and is added early in the iptables rules.
ferm_rules:
 05_ssh:
 - chain: INPUT
   domains: [ip, ip6]
   rules:
     - {rule: "policy DROP;",  comment: "global policy"}
     - {rule: "mod state state INVALID DROP;", comment: "connection tracking: drop"}
     - {rule: "mod state state (ESTABLISHED RELATED) ACCEPT;", comment: "connection tracking"}
     - {rule: "interface lo ACCEPT;", comment: "allow local packet"}
     - {rule: "proto icmp ACCEPT;", comment: "respond to ping"}
     - {rule: "proto tcp dport (22) saddr ( {{ trusted_public_networks }} {{ trusted_public_ipv6_networks }} )mod comment comment 'SSH' ACCEPT;", comment: "SSH"}
     - {rule: "interface {{ internal_interface }} mod comment comment 'Allow all internal' ACCEPT;", comment: "internal"}
     - {rule: "interface ( ib0 ib1 ) mod comment comment 'Allow all internal ib traffic' ACCEPT;", comment: "internal"}
 - chain: OUTPUT
   domains:
     - ip
     - ip6
   rules:
     - rule: "policy ACCEPT;"
       comment: global policy
 - chain: FORWARD
   domains: [ip, ip6]
   rules:
     - rule: "policy DROP;"
       comment: global policy
     - rule: "mod state state INVALID DROP;"
       comment: "connection tracking: drop"
     - rule: "mod state state (ESTABLISHED RELATED) ACCEPT;"
       comment: "connection tracking"

# CVMFS - if fgci_install is set to False it does not install the CVMFS configs from FGCI repo
fgci_install: True
# set cms_site and we create /etc/cvmfs/config.d/cms.cern.ch.local
# cms_site: "T2_FI_HIP"

# E-mail aliases
aliases:
 - { user: "root", alias: "{{ adminMailAddr }}" }

# SSHD
# Default in CentOS7 is that GSSAPICleanupCredentials is "no". https://bugzilla.redhat.com/show_bug.cgi?id=1055016
sshd:
 GSSAPICleanupCredentials: "no"
 PermitRootLogin: "without-password"

#NTP
ntp_config_server: [ 0.fi.pool.ntp.org, 1.fi.pool.ntp.org, 2.fi.pool.ntp.org, 3.fi.pool.ntp.org, ntp2.funet.fi, ntp4.funet.fi]
#Chrony
chrony_ntp_servers: "{{ ntp_config_server }}"
chrony_pkg_state: "installed"
chrony_pkg_update_cache: "no"
chrony_remove_ntp: True
# We make chronyd not act as a server by default by not allowing any subnets
chrony_allow_deny:
  - ""


#Users
adminremove_passwords: True

#Flowdock
# set flowdock_token: "TOKEN" to prevent sending flowdock messages to #fgci
flowdock_token: 22a225c10814863ea809b80940d25b0e

#Collectd
collectd_tsdb_writer: True
collectd_tsdb_host: cassini.fgci.csc.fi
collectd_tsdb_tags: "site={{ siteName }}"
collectd_network_listener: False
collectd_network_server: False
collectd_plugin_packages:
 - collectd-write_tsdb

kickstart_server_ip: 10.1.1.2
pull_install_ip: "{{ kickstart_server_ip }}"

#NIS
nis_domain: "fgci.csc.fi"
nis_server_address: "10.1.1.2"

#ansible-pull is disabled here by default. Enabled per group
ansible_pull_kickstart: false
# Random max delay in seconds
ansible_pull_sleep: 600
# Defaults to "0 */2 * * *" - every second hour
ansible_pull_cron_minute_interval: "0"
ansible_pull_cron_hour_interval: "*/2"
# This is the branch of fgci-ansible repo in github.
ansible_pull_branch: "master"
# Set the ansible_pull_cron_state to absent to disable the ansible-pull cronjob
ansible_pull_cron_state: present
# Store ansible-pull logs longer than just the last run
ansible_pull_log: True
ansible_pull_logrotate: True
ansible_pull_logrotate_interval: daily
ansible_pull_logrotate_rotate: 16

# Only install these on the admin node
dell_install_helper_scripts: False

# Define your SMTP server here
postfix_relayhost: "smtp.csc.fi"
postfix_mydomain: "{{ siteDomain }}"

# For overriding all of the postfix defaults in a role
#
#postfix_custom_main: |
# myhostname = {{ ansible_fqdn }}
# mydomain = example.com
# myorigin = $myhostname
# relayhost = smtp.example.com
# alias_maps = hash:/etc/aliases
# alias_database = hash:/etc/aliases
# inet_interfaces = loopback-only
# inet_protocols = ipv4
# mydestination = $myhostname, localhost.$mydomain, localhost
# masquerade_domains = example.com

slurm_compute_nodes: "{{ nodeBase }}[1-4]"
slurm_gpu_nodes: "{{ nodeGpuBase }}[5-6]"

slurm_compute_threadspercore: "1"
#slurm_partitionlist:
# - "PartitionName=normal Nodes={{ slurm_compute_nodes }},{{ slurm_gpu_nodes }} Default=YES MaxTime={{ slurm_max_job_time }} State=UP DefaultTime={{ slurm_job_def_time }}"
# - "PartitionName=test Nodes={{ slurm_compute_nodes }} Default=NO MaxTime={{ slurm_max_job_time }} State=UP DefaultTime={{ slurm_job_def_time }}"
# - "PartitionName=grid Nodes={{ slurm_compute_nodes }},{{ slurm_gpu_nodes }} Default=NO MaxTime={{ slurm_max_job_time }} State=UP DefaultTime={{ slurm_job_def_time }}"

slurm_ExtraParamsList:
        - "# Extra Slurm parameter *uncommented* lines go here"
        - "# Check ansible-role-slurm defaults file for examples"

#yum cron defaults to daily and hourly updating of everything
daily_update_level: "default"
daily_download_updates: yes
daily_apply_updates: yes
hourly_update_level: "default"

