---

internal_interface: "em1"
ib_interface: "ib0"

network_ether_interfaces:
  - device: "{{ib_interface}}"
    bootproto: "static"
    onboot: "yes"
    address: "{{ib_ip_addr}}"
    netmask: "{{ib_net_mask}}"
    nm_controlled: "no"

  - device: "{{internal_interface}}"
    bootproto: "dhcp"
    onboot: "yes"
    nm_controlled: "no"
    type: "Ethernet"

networks:
  - "network --onboot=yes --bootproto=dhcp --device={{ internal_interface }} --noipv6"

infiniband_available: True
rdma_configure_single_port: True

## PXE

kickstart_profile: FGCI-nfs-node
kickstart_partitions: |
  bootloader --location=mbr --append="selinux=0" --boot-drive=sda
  zerombr
  clearpart --initlabel --drives=sda --all
  part /boot --fstype="ext3" --size=400
  part swap --fstype="swap" --size=10000
  part pv.01 --fstype="lvmpv" --size=1 --grow
  part /scratch --fstype="xfs" --onpart=sdc
  volgroup vgroot --pesize=4096 pv.01
  logvol /  --fstype="xfs" --size=200000 --name=lv_root --vgname=vgroot --grow
  logvol /var  --fstype="xfs" --size=200000 --name=lv_var --vgname=vgroot
  logvol /tmp  --fstype="xfs" --size=100000 --name=lv_tmp --vgname=vgroot
kickstart_packages: |
  epel-release
  git
  @infiniband
  infiniband-diags
  iperf
  mcelog
  netcdf
  nfs-utils
  nscd
  openssh-server
  smartmontools
  yum-plugin-fastestmirror

# NFS exports

nfs_exports: { "/home 10.2.0.0/16(rw,sync,no_root_squash)","/scratch 10.2.0.0/16(rw,no_root_squash)","/home 10.1.0.0/16(rw,sync,no_root_squash)","/scratch 10.1.0.0/16(rw,no_root_squash)" }

# Configure smartd
smartd_service: True

