#{{ ansible_managed }}
YUM_PARAMETER={{ yum_cron_parameter }}
CHECK_ONLY={{ yum_cron_check_only }}
CHECK_FIRST={{ yum_cron_check_first }}
DOWNLOAD_ONLY={{ yum_cron_download_only }}
RANDOMWAIT={{ yum_cron_random_wait }}
MAILTO={{ yum_cron_mailto }}
DAYS_OF_WEEK={{ yum_cron_day_of_week}}
CLEANDAY={{ yum_cron_clean_day }}
SERVICE_WAITS={{ yum_cron_service_waits }}
SERVICE_WAIT_TIME={{ yum_cron_service_wait_time }}
