
{% if item.bootproto == 'static' %}
DEVICE={{ item.device }}
BOOTPROTO=none
{% if item.address is defined %}
IPADDR={{ item.address }}
{% endif %}
{% if item.onboot is defined %}
ONBOOT={{ item.onboot }}
{% endif %}
{% if item.netmask is defined %}
NETMASK={{ item.netmask }}
{% endif %}
{% if item.gateway is defined %}
GATEWAY={{ item.gateway }}
{% endif %}
{% if item.vlan is defined %}
VLAN=yes
{% endif %}
{% endif %}

{% if item.bootproto == 'dhcp' %}
DEVICE={{ item.device }}
BOOTPROTO=dhcp
PERSISTENT_DHCLIENT=y
{% endif %}

{% if item.ipv6_address is defined %}
IPV6INIT="yes"
IPV6_AUTOCONF="yes"
IPV6_DEFROUTE="yes"
IPV6_FAILURE_FATAL="no"
IPV6_FORWARDING="yes"
IPV6_PEERDNS="yes"
IPV6_PEERROUTES="yes"
IPV6_PRIVACY="no"
IPV6ADDR={{ item.ipv6_address }}
{% endif %}
{% if item.ipv6_gateway is defined %}
IPV6_DEFAULTGW="{{ item.ipv6_gateway }}"
{% endif %}

{% if item.nm_controlled is defined %}
NM_CONTROLLED={{ item.nm_controlled }}
{% endif %}

{% if item.defroute is defined %}
DEFROUTE={{ item.defroute }}
{% endif %}
