
{% if item.bootproto == 'static' %}
DEVICE={{ item.device }}
{% if item.name is defined %}
NAME={{ item.name }}
{% endif %}
{% if item.physdev is defined %}
PHYSDEV={{ item.physdev }}
{% endif %}
BOOTPROTO=none
{% if item.type is defined %}
TYPE={{ item.type }}
{% endif %}
{% if item.address is defined %}
{% if item.address is not string %}
{% for a in item.address %}
IPADDR{{ loop.index - 1 }}={{ a }}
{% endfor %}
{% else %}
IPADDR={{ item.address }}
{% endif %}
{% endif %}
{% if item.onboot is defined %}
ONBOOT={{ item.onboot }}
{% endif %}
{% if item.netmask is defined %}
{% if item.netmask is not string %}
{% for n in item.netmask %}
NETMASK{{ loop.index - 1 }}={{ n }}
{% endfor %}
{% else %}
NETMASK={{ item.netmask }}
{% endif %}
{% endif %}
{% if item.gateway is defined %}
GATEWAY={{ item.gateway }}
{% endif %}
{% if item.vlan is defined %}
VLAN=yes
{% endif %}
{% if item.pkey is defined and item.pkey_id is defined %}
PKEY={{ item.pkey }}
PKEY_ID={{ item.pkey_id }}
{% endif %}
{% endif %}

{% if item.ipv6init is defined %}
IPV6INIT={{ item.ipv6init }}
{% endif %}

{% if item.mtu is defined %}
MTU={{ item.mtu }}
{% endif %}

{% if item.connected_mode is defined %}
CONNECTED_MODE={{ item.connected_mode }}
{% endif %}

{% if item.bootproto == 'dhcp' %}
DEVICE={{ item.device }}
BOOTPROTO=dhcp
{% endif %}

{% if item.nm_controlled is defined %}
NM_CONTROLLED={{ item.nm_controlled }}
{% endif %}

{% if item.defroute is defined %}
DEFROUTE={{ item.defroute }}
{% endif %}

{% if item.ipv6_address is defined %}
IPV6INIT="yes"
IPV6_AUTOCONF="yes"
IPV6_DEFROUTE="yes"
IPV6_FAILURE_FATAL="no"
IPV6_FORWARDING="yes"
IPV6_PEERDNS="yes"
IPV6_PEERROUTES="yes"
IPV6_PRIVACY="no"
IPV6ADDR={{ item.ipv6_address }}
{% endif %}
{% if item.ipv6_gateway is defined %}
IPV6_DEFAULTGW="{{ item.ipv6_gateway }}"
{% endif %}

