---

internal_interface: "em1"
ib_interface: "ib0"

ib_net_mask: "255.255.0.0"

network_ether_interfaces:
  - device: "{{ib_interface}}"
    bootproto: "static"
    onboot: "yes"
    address: "{{ib_ip_addr}}"
    netmask: "{{ib_net_mask}}"
    nm_controlled: "no"

  - device: "{{internal_interface}}"
    bootproto: "dhcp"
    onboot: "yes"
    nm_controlled: "no"
    type: "Ethernet"

infiniband_available: True
rdma_configure_single_port: True
# Stop and disable the subnetmanager on compute nodes
rdma_opensm_state: "stopped"
rdma_opensm_enabled: "no"

lustre_client_enabled: False

networks:
  - "network --onboot=yes --bootproto=dhcp --device={{ internal_interface }} --noipv6"

# NTP
ntp_config_server: [ "{{ hostvars[groups['install'][0]]['int_ip_addr'] }}", "{{ hostvars[groups['admin'][0]]['int_ip_addr'] }}" ]
# DNS
nameserver1: "10.1.1.2"
# CVMFS
cvmfs_http_proxy: "{{ http_proxy }}"
# YUM proxy
yum_proxy: "{{ http_proxy }}"

# Install NHC from FGCI's yum
nhc_github: False
# Node Health Check (NHC) options
# Infiniband check / speed check, 40Gb / 56Gb / something else
#nhc_hw_ib: "56"
nhc_hw_eth: "{{internal_interface}}"

# To add a custom NHC checks in addition to the defaults, define like below (do keep the check_reboot_slurm  - used to be able to drain and reboot nodes):
#nhc_checks:
# - { match: "*", name: "check_reboot_slurm", arguments: "" }
# - { match: "*", name: "check_file_test", arguments: "-r -s /cvmfs/fgi.csc.fi/README" }
# - { match: '*', name: 'check_cmd_output', arguments: '-m "/Leap\ status\.*\:\ Normal/" /usr/bin/chronyc tracking' }


# Run ansible-pull during kickstart
ansible_pull_kickstart: true
# SSHD
sshd:
 PermitRootLogin: "without-password"

# Fetch the sshd host_keys from NFS
generate_ssh_host_keys: False
generate_ssh_known_hosts: False
install_ssh_host_keys_to_nfs: False
install_ssh_host_keys_from_nfs: True
install_ssh_known_hosts_from_http: True

# PAM
pam_enabled: True
pam_use_sssd: False
pam_enable_slurm: True
slurm_access_groups:
 - "{{ admingroup | default('admin') }}"
 - "root"
 - "wheel"

#Limits for MPI
limits_domains:
  - domain: '*'
    type: 'hard'
    item: memlock
    value: unlimited
  - domain: '*'
    type: 'soft'
    item: memlock
    value: unlimited
  - domain: '*'
    type: 'hard'
    item: stack
    value: unlimited
  - domain: '*'
    type: 'soft'
    item: stack
    value: unlimited

## PXE

kickstart_profile: FGCI-compute-node

# Note on Compute nodes partitioning:
#
# Each site can fine tune this to match their needs
# Only requeirement is that Root part needs at least 200GB
# Please note that if you rather not have a /local partition you can remove it.
# If so, don't forget to add "--grow" in part / line

kickstart_partitions: |
  zerombr
  clearpart --all --initlabel --drives=sda
  bootloader --append="selinux=0" --boot-drive=sda
  part biosboot --fstype="biosboot" --size=1
  part /boot/efi --fstype=efi --label EFI  --size=200
  part / --fstype="xfs" --ondisk=sda --size=200000
  part swap --size=500
  part /local --fstype="xfs" --ondisk=sda --size=1 --grow

kickstart_packages: |
  atlas
  blas
  bonnie++
  cvs
  epel-release
  fftw
  fftw2
  gcc
  gcc-c++
  gcc-gfortran
  git
  glibc.i686
  @infiniband
  infiniband-diags
  iperf
  java-1.8.0-openjdk
  lapack
  libcgroup
  libgcc.i686
  libgfortran
  libstdc++.i686
  libxml2.i686
  mcelog
  netcdf
  nfs-utils
  nscd
  numpy
  openssh-server
  perl-Filesys-Df
  rsync
  subversion
  xerces-c
  yum-plugin-fastestmirror
  Lmod
  wget
#  bzip2
