---

internal_interface: "em1"
ib_interface: "ib0"

ib_net_mask: "255.255.0.0"

network_ether_interfaces:
  - device: "{{ib_interface}}"
    bootproto: "static"
    onboot: "yes"
    address: "{{ib_ip_addr}}"
    netmask: "{{ib_net_mask}}"
    nm_controlled: "no"

  - device: "{{internal_interface}}"
    bootproto: "dhcp"
    onboot: "yes"
    nm_controlled: "no"
    type: "Ethernet"

infiniband_available: True
rdma_configure_single_port: True

networks:
  - "network --onboot=yes --bootproto=dhcp --device={{ internal_interface }} --noipv6"

# Slurm
slurm_type: "compute"
# NTP
ntp_config_server: [ "{{ hostvars[groups['install'][0]]['ansible_hostname'] }}", "{{ hostvars[groups['admin'][0]]['ansible_hostname'] }}" ]
# DNS
nameserver1: "10.1.1.2"
# CVMFS
cvmfs_http_proxy: "{{ http_proxy }}"
# YUM proxy
yum_proxy: "{{ http_proxy }}"
# Install NHC from FGCI's yum
nhc_github: False
# Run ansible-pull during kickstart
ansible_pull_kickstart: true
# SSHD
sshd:
 PermitRootLogin: "without-password"

# Fetch the sshd host_keys from NFS
generate_ssh_host_keys: False
generate_ssh_known_hosts: False
install_ssh_host_keys_to_nfs: False
install_ssh_host_keys_from_nfs: True
install_ssh_known_hosts_from_http: True

# PAM
pam_enabled: True
pam_use_sssd: False
pam_enable_slurm: True
slurm_access_groups:
 - "{{ admingroup | default('admin') }}"
 - "root"
 - "wheel"

#Limits for MPI
limits_domains:
  - domain: '*'
    type: 'hard'
    item: memlock
    value: unlimited
  - domain: '*'
    type: 'soft'
    item: memlock
    value: unlimited
  - domain: '*'
    type: 'hard'
    item: stack
    value: unlimited
  - domain: '*'
    type: 'soft'
    item: stack
    value: unlimited

## PXE

kickstart_profile: FGCI-compute-node
kickstart_server_ip: 10.1.1.2
kickstart_partitions: |
  bootloader --location=mbr --append="selinux=0" --boot-drive=sda
  zerombr
  clearpart --all --initlabel --drives=sda
  part biosboot --fstype="biosboot" --size=1
  part / --fstype="xfs" --ondisk=sda --size=50000
  part swap --size=500
  part /local --fstype="xfs" --ondisk=sda --size=1 --grow
kickstart_packages: |
  ansible
  atlas
  blas
  bonnie++
  cvs
  epel-release
  fftw
  fftw2
  gcc
  gcc-c++
  gcc-gfortran
  git
  glibc.i686
  hdf5-openmpi
  @infiniband
  infiniband-diags
  iperf
  java-1.8.0-openjdk
  lapack
  libcgroup
  libgcc.i686
  libgfortran
  libstdc++.i686
  libxml2.i686
  mcelog
  mpitests-openmpi
  netcdf
  nfs-utils
  nscd
  numpy
  openmpi
  openssh-server
  perl-Filesys-Df
  subversion
  xerces-c
  yum-plugin-fastestmirror
  Lmod
  wget
#  bzip2
